
@model IOrderedEnumerable<KeyValuePair<Bros.DataModel.User, double>>



<h2 class="title">Match Results</h2>
<p class="error">@ViewBag.Message</p>

    @foreach(KeyValuePair<Bros.DataModel.User, double> x in Model){
        
        <p class="no-float">@x.Key.Profile.FirstName , @x.Key.Profile.LastName and @x.Value.ToString("F", System.Globalization.CultureInfo.InvariantCulture)%

			<span>@Html.Partial("Partials/_BroRequestButton", x.Key)</span>
        </p>
    }