<link href="~/Content/Styles/chat.css" type="text/css" rel="stylesheet"/>

<ul id="friend-list">
	@foreach(Bros.DataModel.User friend in ViewBag.Friends)
	{
		<li data-user-id="@friend.Id" class="offline">@friend.Profile.FirstName @friend.Profile.LastName</li>
	}
	<li id="me" style="display:none;" data-user-id="@ViewBag.UserId" class="offline">@ViewBag.Name</li>
</ul>

<h2>Chat</h2>

	<form id="templateForm" class="chat-window">
		<div class="close"></div>
		<p class="header"><span class="receiverName"></span></p>
        <div class="msgWrap">
            <ul class="messages"></ul>
        </div>
		<div class="messageBoxWrapper">
			<input type="text" class="messageBox" placeholder="enter message" />
		</div>
    </form>


	
    <script src="/Content/Scripts/jquery-1.6.4.min.js" ></script>
    <script src="/Content/Scripts/jquery-ui-1.10.3.custom.min.js" ></script>
    <script src="/Content/Scripts/jquery.signalR-2.0.0.min.js"></script>
	<script src="/Content/Scripts/emotify.js"></script>
    <script src="/signalr/hubs"></script>
    <script type="text/javascript">
    	$(function () {
    		emotify.emoticons("/Content/Images/Smileys", false, {
				"-_-": ["-_-.png", "annoyed"]
    		});

    		var selfId = $("#me").attr("data-user-id");
    		var selfName = $("#me").text();

    		// Proxy created on the fly
    		var chat = $.connection.chatHub;

    		// Declare a function on the chat hub so the server can invoke it
    		chat.client.receive = function (senderId, receiverId, message) {
    			message = emotify(message);
    			var fromSelf = senderId == selfId;
    			var userId = fromSelf ? receiverId : senderId;
    			createChatWindow(userId);
    			$form = $(".chat-window[data-user-id=" + userId + "]");
    			var userName = fromSelf ? "me" : $(".receiverName", $form).text();
    			var uClass = fromSelf ? "me" : "them";
    			$(".messages", $form).append("<p><strong class=\""+uClass+"\">" + userName + ":</strong> " + message + "</p>");
    			$('.msgWrap', $form).stop().animate({ scrollTop: $('.messages', $form).height() })
    		};

    		chat.client.friendList = function (friends) {
    			for (var i = 0; i < friends.length; i++) {
    				chat.client.friendOnline(friends[i]);
    			}
    		};

    		chat.client.friendOffline = function (friendId) {
    			$("#friend-list li[data-user-id=" + friendId + "]").removeClass("online").addClass("offline");
    		};

    		chat.client.friendOnline = function (friendId) {
    			$("#friend-list li[data-user-id=" + friendId + "]").removeClass("offline").addClass("online");
    		};

			// Declare UI actions
    		var createChatWindow = function (userId, focus) {
    			var $form = $(".chat-window[data-user-id=" + userId + "]");
    			if ($form.length == 0) {
    				$form = $("#templateForm").clone();
    				$form.attr("data-user-id", userId);
    				$(".receiverName", $form).text($("#friend-list li[data-user-id=" + userId + "]").text());
    				$("body").append($form);
    				$form.css("top", (150 * ($(".chat-window").length - 1)) + "px");
    				$form.css("left", (60 * ($(".chat-window").length - 1)) + "px");
    				draggable();
    			}

    			$form.fadeIn(200);

    			if (focus === true) {
    				$(".messageBox", $form).focus();
    			}
    		};

    		var draggable = function () {
    			$(".chat-window").draggable({ handle: ".header", stack: ".chat-window", opacity: .9, distance: 0 });
    		};

    		$(".chat-window").live("submit", function () {
    			var receiver = $(this).attr("data-user-id");
    			chat.server.send(receiver, $('.messageBox', this).val());
    			$('.messageBox', this).val("");
    			return false;
    		});

    		$(".chat-window .close").live("click", function () {
    			$(this).parent().fadeOut(200);
    		});

    		$(".chat-window").live("click", function () {
    			$(".chat-window").css("z-index", 1);
    			$(this).css("z-index", 3);
    		});

    		$("#friend-list li").click(function () {
    			createChatWindow($(this).attr("data-user-id"), true);
    		});


    		// Start the connection
    		$.connection.hub.start(function () {
    			chat.server.authenticate();
    		});

    	});
    </script>