@{
	Layout = "MasterLayout.cshtml";
	ViewBag.ContentClass = "widget wrapper " + ViewBag.ContentClass;
}

@section Header {
	<nav id="main-nav">
		<ul>
			<li>@Html.ActionLink(" ", "Index", "Home", null, new { @class = "icon-home", title = "Home" })</li>
			<li>@Html.ActionLink(" ", "Index", "Profile", null, new { @class = "icon-user", title = "Profile" })</li>
			<li>@Html.ActionLink(" ", "Notifications", "Interaction", null, new { @class = "icon-alert", title = "Notifications" })</li>
			<li>@Html.ActionLink(" ", "Index", "Messaging", null, new { @class = "icon-mail", title = "Messages" })</li>
			<li>@Html.ActionLink(" ", "Browse", "Bros", null, new { @class = "icon-users", title = "Find Bros" })</li>
			<li>@Html.ActionLink(" ", "StoreIndex", "Store", null, new { @class = "icon-grocery-store", title = "Store" })</li>
			<li>@Html.ActionLink(" ", "Logout", "Authentication", null, new { @class = "icon-logout", title = "Logout" })</li>
		</ul>
	</nav>
	@using (Html.BeginForm("Search", "Bros", FormMethod.Get, new { @class = "icon-search" }))
 {
		<input type="search" placeholder="search for user" name="query" />
 }
	<nav id="icon-nav">
		<ul>

		</ul>
	</nav>
}

@section Head {
	@RenderSection("Head", false)
}

@section Scripts {
	<script src="/Content/Scripts/jquery.signalR-2.0.0.min.js"></script>
	<script src="/Content/Scripts/timeago.js"></script>
	<script src="/Content/Scripts/emotify.js"></script>
    <script src="/signalr/hubs"></script>
	<script src="/Content/Scripts/chat.js"></script>
	<script>
		$(".time").timeago();
	</script>
	<link href="~/Content/Styles/chat.css" type="text/css" rel="stylesheet"/>
	@RenderSection("Scripts", false)
}

@section PreContent {
	@if (IsSectionDefined("SecondaryNavigation"))
	{
		<nav id="secondary-nav">
			<ul class="wrapper">
			 	@RenderSection("SecondaryNavigation", false)
			</ul>
		</nav>
	}
}

@section PostContent {
	<ul id="friend-list" class="widget">
		<h2 class="title">Friends</h2>
		@foreach(Bros.DataModel.User friend in ViewBag.Friends)
		{
			<li data-user-id="@friend.Id" class="offline">@friend.Profile.FirstName @friend.Profile.LastName</li>
		}
		<li id="me" style="display:none;" data-user-id="@ViewBag.CurrentUserId" class="offline">@ViewBag.Name</li>
	</ul>
	<form id="templateForm" class="chat-window">
		<div class="close"></div>
		<p class="header"><span class="receiverName"></span></p>
        <div class="msgWrap">
            <ul class="messages"></ul>
        </div>
		<div class="messageBoxWrapper">
			<input type="text" class="messageBox" placeholder="enter message" />
		</div>
    </form>
}

@RenderBody()