@{
	Layout = "MasterLayout.cshtml";
}

@section Head {
	@RenderSection("Head", false)
}

@section Scripts {
	@RenderSection("Scripts", false)
}

@section PreContent {
	@RenderSection("PreContent", false)
}


@section Header {
	@if (ViewBag.HideLogin == null || !ViewBag.HideLogin)
	{
		<div class="login">
			@Html.Partial("Partials/_LoginForm")
		</div>
	}
}

@RenderBody()