<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title | Bromance</title>
    <link href="~/Content/Styles/main.css" rel="stylesheet" />
	@RenderSection("Head", false)
</head>
<body>
	<header id="page-header">
		<div class="wrapper">
			<div class="logo">
				<a href="/" title="Bromance"></a>
			</div>
			@RenderSection("Header")
		</div>
	</header>
	@RenderSection("PreContent", false)
	<div id="content" class="@ViewBag.ContentClass">
		@RenderBody()
	</div>
	@RenderSection("PostContent", false)
	<footer id="page-footer">
		<nav id="footer-nav" class="wrapper">
			<ul>
				<li>@Html.ActionLink("About", "About", "Home")</li>
				<li>@Html.ActionLink("Bro Code", "BroCode", "Home")</li>
				<li>@Html.ActionLink("Terms of Use", "Terms", "Home")</li>
			</ul>
		</nav>
		<p class="masthead">Bromance &copy; 2013</p>
	</footer>
    <script src="/Content/Scripts/jquery-1.6.4.min.js" ></script>
    <script src="/Content/Scripts/jquery-ui-1.10.3.custom.min.js" ></script>
	@RenderSection("Scripts", false)
</body>
</html>