<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link href="~/Content/Styles/main.css" rel="stylesheet" />
</head>
<body>
	<div class="container">
		<header>
			<nav class="mainNav">
				<ul>
					@if (Session["UserId"] != null)
					 {
						 int userId = WebSecurity.CurrentUserId;
										<li>@Html.ActionLink("Home", "Feed", "Profile")</li>
										<li>@Html.ActionLink("Notifications", "Notifications", "Profile")</li>
										<li>@Html.ActionLink("Messages", "MessageHome", "Messaging")</li>
										<li>@Html.ActionLink("Settings", "Settings", "Profile", new { id = userId }, false)</li>
										<li>@Html.ActionLink("Chat", "Chat", "Messaging")</li>
										<li>@Html.ActionLink("Store", "StoreIndex", "Store")</li>
										<li>@Html.ActionLink("Browse Bros", "ViewBros", "Profile")</li>
										<li>@Html.ActionLink("My Profile", "MyProfile", "Profile", new { id = userId }, false)</li>
										<li>@Html.ActionLink("Logout", "Logout", "Authentication")</li>
										}
					 else
					 {
						<li>@Html.ActionLink("Login", "Login", "Authentication")</li>
					}

				</ul>
				@if (Session["UserId"] != null)
	{
		using (Html.BeginForm("ByUserName", "Search"))
		{
					@Html.TextBox("searchParam")
							 ;
					<input type="submit" value="Search for Bros" />
						 }
					}
			</nav>

			<nav class="secondaryNav">
				<ul>
					@RenderSection("SecondaryNavigation", required: false)
				</ul>
			</nav>

			<nav class="profileLinks">
				<ul>
					@RenderSection("ProfileLinks", required: false)
				</ul>
			</nav>
		</header>

		<aside class="leftSidebar">

			@RenderSection("LeftSideBar", required: false)
		</aside>

		<div class="content">
			<div class="content-main">
				@RenderBody()
			</div>
		</div>

		<aside class="rightSidebar">
			@RenderSection("RightSideBar", required: false)
		</aside>

		<footer>
			<div class="footerNav">
				<ul>
					<li>@Html.ActionLink("About", "AboutUs", "Home")</li>
					<li>@Html.ActionLink("Legal", "TermsOfUse", "Home")</li>
					<li>@Html.ActionLink("BroCode", "BroCode", "Home")</li>
					<li>&copy; Bromance, 2013</li>
				</ul>
			</div>
		</footer>

	</div>
</body>
</html>
