<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
@*        <link href="~/Content/default.css" rel="stylesheet" type="text/css"/>*@
    </head>
    <body>
        <div class="container">
            <header>
                <nav class="mainNav">
                    <ul>
                        @if (Session["UserId"] != null)
                        {
                            int userId = WebSecurity.CurrentUserId;
                            <li>@Html.ActionLink("Home", "Feed","Profile")</li>
                            <li>@Html.ActionLink("Messages","MessageHome","Messaging")</li>
                            <li>@Html.ActionLink("Settings", "Settings", "Profile", new {id = userId}, false)</li>
                            <li>@Html.ActionLink("Store", "StoreIndex", "Store")</li>
                            <li>@Html.ActionLink("Browse Bros", "ViewBros", "Profile")</li>
                            <li>@Html.ActionLink("View My Profile", "MyProfile", "Profile", new {id = userId}, false)</li>
                            <li>@Html.ActionLink("Photos", "ProfileIndex", "Profile")</li>
                            <li>@Html.ActionLink("Logout", "Logout", "Authentication")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Login","Login","Authentication")</li>
                        }
                     
                    </ul>
                </nav>   
                
                <nav class="secondaryNav">
                    <ul>
                      @RenderSection("SecondaryNavigation", required:false)
                    </ul>
                </nav>

                <nav class="profileLinks">
                    <ul>
                        @RenderSection("ProfileLinks", required:false)   
                    </ul>
                </nav>       
            </header>
            
            <aside class="leftSidebar">

                @RenderSection("LeftSideBar", required: false)
            </aside>

            <div class="content">
                <h2>@ViewBag.Title</h2>               
                <div class="content-main">
                    @RenderBody()
                </div>
            </div>
            
            <aside class="rightSidebar">
                @RenderSection("RightSideBar", required: false)
            </aside>
            
            <footer>
                <div class="footerNav">
                        <ul>
                            <li>&copy; Bromance, 2013</li>
                            <li>@Html.ActionLink("About", "AboutUs", "Home")</li>
                            <li>@Html.ActionLink("Legal", "TermsOfUse", "Home")</li>   
                            <li>@Html.ActionLink("BroCode", "BroCode", "Home")</li>    
                        </ul>
                    </div>   
            </footer>
                
        </div>       
    </body>
</html>
