@model Bros.DataModel.Profile       
 <h2>Preferences</h2>
        @Html.ValidationSummary()
    @using (Html.BeginForm("SetProfileAttribute","Profile", FormMethod.Post))
    {       
        <p>Athletic: @Html.DropDownList("Athleticism", new SelectList(Enum.GetValues(typeof(Bros.Enums.Athleticism))))</p>
        <p>Children: @Html.DropDownList("Children", new SelectList(Enum.GetValues(typeof(Bros.Enums.Children))))</p>
        <p>Drinks: @Html.DropDownList("Drinks", new SelectList(Enum.GetValues(typeof(Bros.Enums.Drinks))))</p>
        <p>Drugs: @Html.DropDownList("Drugs", new SelectList(Enum.GetValues(typeof(Bros.Enums.Drugs))))</p>
        <p>Education: @Html.DropDownList("Education", new SelectList(Enum.GetValues(typeof(Bros.Enums.Education))))</p>
        <p>Ethnicity: @Html.DropDownList("Ethnicity", new SelectList(Enum.GetValues(typeof(Bros.Enums.Ethnicity))))</p>
        <p>Job: @Html.DropDownList("Job", new SelectList(Enum.GetValues(typeof(Bros.Enums.Job))))</p>
        <p>Marriage Status: @Html.DropDownList("Marriage Status", new SelectList(Enum.GetValues(typeof(Bros.Enums.MarriageStatus)))</p>
        <p>Pets: @Html.DropDownList("Pets", new SelectList(Enum.GetValues(typeof(Bros.Enums.Pets))))</p>
        <input type="submit" value="Save Changes" />
        
    }
