@model Bros.Models.RegisterModel     

<h2>Register</h2>
        @Html.ValidationSummary()
    @using (Html.BeginForm("RegisterUser","Authentication", FormMethod.Post))
    {       
        <p>Email: @Html.TextBoxFor(x => x.Email)</p>
        <p>Password: @Html.PasswordFor(x => x.Password)</p>
        <p>Confirm Password: @Html.PasswordFor(x => x.ConfirmPassword)</p> 
        <p>First Name: @Html.TextBoxFor(x => x.FirstName)</p>
        <p>Last Name: @Html.TextBoxFor(x => x.LastName)</p>
        <p>Birthdate: <input type="date" name ="Birthdate" /></p>
		<p>Gender: @Html.DropDownList("Gender", new SelectList(Enum.GetValues(typeof(Bros.Enums.Gender))))</p>
        <p>Zipcode: @Html.TextBoxFor(x => x.Zipcode)</p>
        <input type="submit" value="Sign Up" />
    }
