@model Bros.DataModel.ProductQuantity

@{
    ViewBag.Title = "ViewProduct";
}

    <link rel="stylesheet" type="text/css" href="~/Content/Styles/store.css" />

<div class="ProductView">
    @{
        var base64 = Convert.ToBase64String(Model.Product.Image);
        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    }
    <div class="ProductName">Product Name: @Model.Product.Name</div>
    <img class="ProductImage" src="@imgSrc" />
    <div class="ProductPrice">Product Price: $@Model.Product.Price</div>
    <div class="ProductQuantity">Product Quantity: @Model.Quantity</div>

    <span class="ProductLink">@Html.ActionLink("Return to Store", "ViewAllProducts")</span>

   @if((ViewBag.RemoveFromCart) != null && ViewBag.RemoveFromCart)
    {
    <span class="ProductLink">@Html.ActionLink("Remove from Cart", "RemoveProductFromCart", new { productId = Model.Id })</span>
    }
</div>

