@model Bros.DataModel.Product

@{
    ViewBag.Title = "CreateProduct";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="CreateProduct">
    @using (Html.BeginForm("CreateProduct", "Store", FormMethod.Post, new { enctype = "multipart/form-data"}))
    {
        @Html.ValidationSummary()
        <span class="ProductName">Product Name: @Html.TextBoxFor(x => x.Name)</span>
        <span class="ProductPrice">Price: @Html.TextBoxFor(x => x.Price)</span>
        <span class="ProductImage">Product Image: <input name="ImageFile" type="file" accept="image/*"/></span>
        if(ViewBag.Categories != null){
            <span class="ProductCategory">Category: @Html.DropDownListFor(x => x.Category, new SelectList(ViewBag.Categories, "Id", "Name"))</span>
                    
        }
        @Html.ActionLink("Add Category", "HandleCategory", "Store")
        @Html.ActionLink("Edit Category", "LoadCategorys", "Store")
        @Html.ActionLink("Edit Tags", "", "Store")
        @Html.ActionLink("Add Tags", "HandleTags", "Store")

        <input type="submit" value="Create Product" />
    }
</div>