@*@section Logout*@
@*{*@
@*    <div class="logout">*@
@*        <ul>*@
@*            <li>@Html.ActionLink("Logout", "Logout", "Authentication")</li>*@
@*        </ul>    *@
@*    </div>          *@
@*}*@

@if (Session["UserId"] == null)
{
    @section MainNavigation
    {
        <li>@Html.ActionLink("Home", "Index", "Home")</li>       
    }
}
else
{
    @section ProfileLinks{
    <li>@Html.ActionLink("Preferences", "EditProfile", "Profile")</li>
    <li>@Html.ActionLink("Feed", "Feed", "Profile")</li>
    <li>@Html.ActionLink("View My Profile", "ProfileIndex", "Profile")</li>
    
    <!-- This is where Messages, Photos, Albums, Friends list will go-->
    }
}
<!--Body -->
<h1>Store</h1>
<h3>Pound it!</h3>

@section Footer
{
    <div class="footerNav">
        <ul>
            <li>&copy; Bromance, 2013</li>
            <li>@Html.ActionLink("About", "AboutUs", "Home")</li>
            <li>@Html.ActionLink("Legal", "TermsOfUse", "Home")</li>       
        </ul>
    </div>   
}