@model Bros.DataModel.Product

@{
    ViewBag.Title = "ViewProduct";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="ProductView">
<<<<<<< HEAD
    @{
        var base64 = Convert.ToBase64String(Model.Image);
        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    }
    <!-- TODO: Remove the inline styling here! Currently, it is here for the sake of testing. Letting it remain after real css is added would be a bad idea! -->
    <img class="ProductImage" src="@imgSrc" style="width:100px;" />
    <div class="ProductName">Product Name: @Model.Name</div>
    <div class="ProductPrice">Product Price: $@Model.Price</div>
    <div class="ProductCategory">Product Category: @Model.Category.Name</div>
=======
    <!-- Product Image? Maybe? -->
    <div class="ProductName">@Model.Name</div>
    <div class="ProductPrice">@Model.Price</div>
    <div class="ProductCategory">@Model.Category.Name</div>
>>>>>>> 73323088bc180a51813913a21a1d6e753085fdc5
</div>
