@using Bros.DataModel
@model IEnumerable<Circle>

@{
    ViewBag.Title = "Circles";
}

<div class="Circles">

    @using(Html.BeginForm("CreateCircle", "Profile", FormMethod.Post)){
        <p>@Html.TextBox("CircleName")</p>
        <input type="submit" value="Create Circle" />
    }

    @foreach (Circle c in Model)
    {
        <div class="CircleBlock">
            <p>@c.Name</p>
            <div class="CircleMembers">
                <p>Members:</p>
                @foreach (User u in c.Members)
                {
                    <p>@u.Profile.FirstName @u.Profile.LastName</p>
                    <p>@Html.ActionLink("Remove Bro", "RemoveBro", "Interaction", new { targetBroId = u.Id }, null)</p>
                }

                <br />

                <p>@Html.ActionLink("Edit this Circle", "EditCircle", new { circleId = c.Id})</p>

                @if(c.Name != "MyBros"){
                    <span class="DeleteCircleLink">@Html.ActionLink("Delete This Circle", "DeleteCircle", new { circleId = c.Id })</span>
                    <span class="DeleteCircleWarning">If you delete this circle, all of the bros inside it will be moved to MyBros.</span>
                }
            </div>
        </div>
    }
</div>
