@model Bros.DataModel.Circle

@{
    ViewBag.Title = "EditCircle";
}

<div class="EditCircle">
    <h2 class="CircleTitle">@Model.Name</h2>
    @if(Model.Name != "MyBros"){
        using (Html.BeginForm("LinkRenameCircle", "Profile", FormMethod.Post))
        {
            @Html.TextBox("circleName", Model.Name);
            @Html.Hidden("circleId", Model.Id);
        
            <input type="submit" value="Rename Circle" />
        }
    }

    @foreach (Bros.DataModel.User u in Model.Members)
    {
        <div class="UserInCircleBlock">
            <span class="InCircleBlockUserName">@u.Profile.FirstName @u.Profile.LastName</span>
            @if(ViewBag.RecieverCircleId != null){
                using (Html.BeginForm("FromEditCircleMoveBroToCircle", "Profile", FormMethod.Post))
                {
                    @Html.Hidden("donorCircleId", Model.Id);
                    @Html.DropDownList("recieverCircleId");
                    @Html.Hidden("targetBroId", u.Id);
                
                    <input type="submit" name="submit" value="Move Bro to Another Circle" />
                }
            }
        </div>
    }
</div>

