@section ProfileLinks
{
    <li>@Html.ActionLink("Preferences", "EditProfile", "Profile")</li>
    <li>@Html.ActionLink("View Profile", "MyProfile", "Profile")</li>
}

@section SecondaryNavigation
{

    <li>@Html.ActionLink("Feed", "Feed", "Profile")</li>
    <li>@Html.ActionLink("Messages", "MessageHome", "Messaging")</li>
    <li>@Html.ActionLink("Logout", "Logout", "Authentication")</li>
}

<h1>Profile Page</h1>
@ViewBag.LoginMessage
