<<<<<<< HEAD
﻿@section MainNavigation
{
    <li>@Html.ActionLink("Store", "StoreIndex", "Store")</li> 
         
}


@section ProfileLinks{
    <li>@Html.ActionLink("Preferences", "EditProfile", "Profile")</li>
        <li>@Html.ActionLink("View Profile", "MyProfile", "Profile")</li>
    <!-- This is where Messages, Photos, Albums, Friends list will go-->

}
<h1>Profile Page</h1>
@section SecondaryNavigation{

    <li>@Html.ActionLink("Feed", "Feed", "Profile")</li>
    <li>@Html.ActionLink("Messages", "MessageHome", "Messaging")</li>
    <li>@Html.ActionLink("Logout", "Logout", "Authentication")</li>

}
=======
﻿<h1>Profile Page</h1>
>>>>>>> 7ad018cbb3daa716df9ecde4ed5fca5b4ddb5089
@ViewBag.LoginMessage
<!--Body -->

