@using Bros.DataModel

@model Profile
@{
    Layout = null;
    ViewBag.Title = "Sign-Up Here!";
}
        <h2>Preferences</h2>
        @Html.ValidationSummary()
    @using (Html.BeginForm("EditProfileAttributes","Profile", FormMethod.Post))
    {       
        

       @Html.Partial("~/Views/Shared/_AttributeForm.cshtml", Model);
        <input type="submit" value="Save Changes" />
        
    }



@*@Html.HiddenFor(x => x.Id);
        @Html.HiddenFor(x => x.FirstName);
        @Html.HiddenFor(x => x.LastName);     
        @Html.HiddenFor(x => x.ProfilePhoto);
        @Html.HiddenFor(x => x.ZipCode)
        @Html.HiddenFor(x => x.BirthDate)*@