@section LoginRegister
{
    <div class="loginRegister">
        <ul>
            <li>@Html.ActionLink("Register", "Register", "Authentication")</li>
            <li>@Html.ActionLink("Login", "Login", "Authentication")</li>         
        </ul>    
    </div>          
}

@section MainNavigation
{
    <li>@Html.ActionLink("Home", "Index", "Home")</li> 
    <li>@Html.ActionLink("Store", "StoreIndex", "Store")</li>            
}

<!--Body -->
<h2>About Us</h2>

@section Footer
{
    <div class="footerNav">
        <ul>
            <li>&copy; Bromance, 2013</li>
            <li>@Html.ActionLink("Legal", "TermsOfUse", "Home")</li>          
        </ul>
    </div>   
}
