
@model Bros.DataModel.User
@{
   // COURTNEY NEEDS TO ADD CAPTION HERE FOR PROFILE PICTURE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
}
<p class="info">@ViewBag.Message</p>
<h1 class="title">Set Profile Picture here: (Only jpgs)</h1>
<article>
    <p>Here is your profile picture:</p>
    <p><span>@Html.Partial("Partials/_ProfilePhoto", Model.Profile)</span></p>
</article>

<article>
    @Html.ValidationSummary()
    @using (Html.BeginForm("ChangeProfilePhoto", "Content", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        
        <p>@Html.TextBox("img", null,new { type = "file", accept="image/jpg"})</p>
        <p>@Html.TextBox("caption", null, new {placeholder ="Type caption here..." })</p>
        <input type="submit" value="Save" class="my-button" />
    }

    </article>