@model List<Bros.DataModel.Photo>

<article>
    <section>

        @if(Model.Count != 0){
foreach(Bros.DataModel.Photo photo in Model){

    <header>

        "@photo.Album.Title"
        <br />
    <a href="@Url.Action("Post", "Content", new { id = photo.Id })">@Html.Partial("Partials/_Photo", photo.ImageData)</a>
<br /><span>@photo.Caption<br />@photo.Comments.Count comments</span><br />@photo.DateCreated.ToShortDateString()<br />    
        <h4>Add photo  @Html.ActionLink("+", "AddPhoto", "Content", new { albumId = photo.Album.Id }, false)</h4> @Html.ActionLink("Remove Photo", "RemovePhoto", "Content", new { id = photo.Id, albumId = photo.AlbumId }, false)
        <p></p>
</header>
}

        }
        else{
            <h2>No photos in album</h2>
            @Html.ActionLink("+", "AddPhoto", "Content", new { albumId = ViewBag.AlbumId }, false)
        }
    </section>
<section>

</section>
</article>
<p></p>